In [ ]:
##Select first names and the total babies with that first_name
##Group by first_name and filter for those names that appear in all 101 years
## Order by the total number of babies with that first_name, descending

In [ ]:
%%sql
SELECT first_name, SUM(num)
FROM baby_names
GROUP BY first_name
HAVING COUNT(year) = 101
ORDER BY SUM(num) DESC;

## Classify each name's popularity according to the number of years that the name appears in the dataset.

In [ ]:
%%sql
SELECT first_name, SUM(num),
    CASE WHEN COUNT(year) > 80 THEN 'Classic'
        WHEN COUNT(year) > 50 THEN 'Semi-classic'
        WHEN COUNT(year) > 20 THEN 'Semi-trendy'
        ELSE 'Trendy' END AS popularity_type
FROM baby_names
GROUP BY first_name
ORDER BY first_name;

## Top-ranked female names since 1920

In [ ]:
%%sql
SELECT first_name, SUM(num), RANK() OVER( ORDER BY SUM(num) DESC) AS  name_rank
FROM  baby_names
WHERE sex= 'F'
GROUP BY first_name
LIMIT 10;

## Picking a baby name
Perhaps a friend has heard of our work analyzing baby names and would like help choosing a name for her baby, a girl. She doesn't like any of the top-ranked names we found in the previous task.

She's set on a traditionally female name ending in the letter 'a' since she's heard that vowels in baby names are trendy. She's also looking for a name that has been popular in the years since 2015.

Let's see what we can do to find some options for this friend!

In [ ]:
%%sql
SELECT first_name
FROM baby_names
WHERE sex ='F' AND first_name LIKE '%a' AND year> 2015
GROUP BY first_name
ORDER BY SUM(num) DESC;

## Based on the results in the previous task, we can see that Olivia is the most popular female name ending in 'A' since 2015. When did the name Olivia become so popular?

In [ ]:
%%sql
SELECT first_name,year, SUM(num) OVER (ORDER BY year) AS cumulative_olivias
FROM baby_names
WHERE first_name='Olivia' 
ORDER BY  year DESC;

## Write a query that selects the year and the maximum num of babies given any male name in that year.

In [ ]:
%%sql
SELECT year,MAX(num) AS max_num 
FROM baby_names
WHERE sex= 'M'
GROUP BY year
ORDER BY MAX(num) DESC;

## In the previous task, we found the maximum number of babies given any one male name in each year. Incredibly, the most popular name each year varied from being given to less than 20,000 babies to being given to more than 90,000! we find out what that top male name is for each year in our dataset.

In [ ]:
%%sql
SELECT first_name, SUM(num) AS total
FROM baby_names
WHERE sex = 'M'
GROUP BY first_name
ORDER BY SUM(num) DESC;